[submodule "external/EUI-NEO"]
	path = external/EUI-NEO
	url = https://github.com/sudoevolve/EUI-NEO.git
[submodule "external/nlohmann-json"]
	path = external/nlohmann-json
	url = https://github.com/nlohmann/json.git
